<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
            <p>
              <strong>Brand</strong>: {{example.brand}}</p>
            <p>
            <p>
              <strong>Type</strong>: {{example.type}}</p>
            <p>
              <p>
                <strong>Color</strong>: {{example.color}}</p>
              <p>
                <p>
                  <strong>Style</strong>: {{example.style}}</p>
                <p>
                  <p>
                    <strong>Price $</strong> {{example.price}}</p>
                  <p>
                    <p>
                      <strong>Item Last wore date</strong>: {{example.lastwore}}</p>
                    <p>
                <strong>Notes on this item</strong> {{example.description}}</p>
              <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>